<!DOCTYPE html>
<html>
    <head>
        <title>NerdLuv</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link href="heart.gif" type="image/gif" rel="shortcut icon" />
        <link href="nerdluv.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div id="bannerarea">
            <img src="{{ static_url("images") }}/nerdluv.png" alt="banner logo" /> <br />
            where meek geeks meet
        </div>

        <p>
            Invalid data submitted!!!
        </p>

        <div id="w3c">
            <a href="http://validator.w3.org/check/referer">
                <img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" /></a>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS" /></a>
        </div>
    </body>
</html>